<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Zusatztext des Produkts</label>
    <label lang="en">Product's Extra Text</label>

    <version>0.0.3</version>
    <copyright>(c) by Pedro Pereira</copyright>
    <license>MIT</license>
    <link>https://pontonet.com</link>
    <author>Pedro Pereira</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="0.0.3">
        <changes lang="en">Added documentation;</changes>
        <changes lang="de">Dokumentation hinzugefügt;</changes>
    </changelog>

    <changelog version="0.0.2">
        <changes lang="en">Added icon;</changes>
        <changes lang="de">Symbol hinzugefügt;</changes>
    </changelog>
</plugin>